.Card {
  background-color: var(--lightBlue);
  border: 2px solid var(--blue);
  display: flex;
  padding: 10px;

  img {
    margin-right: 10px;
  }

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      color: var(--purple);
      cursor: pointer;

      &:hover {
        color: var(--orange);
      }
    }

    .Price {
      font-size: 20px;
      font-weight: bold;
    }

    .Discount {
      color: var(--purple);
      font-weight: bold;
    }
  }
}